{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Knowing Uganda</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/renz.png' %}" type="image/x-icon">
</head>
<body>
    <nav>
        <ul class="navbar">
            <li><a href="../travel">Welcome</a></li>
            <li><a href="../travel/ContactUs">Contact Us</a></li>
            <li><a href="../travel/places">Places</a></li>
        </ul>
    </nav>
    <h1>The Team</h1>
    <div>
        <img src="{% static 'images/edir.png' %}" alt="Executive Director - Mr. Ssejemba Kennedy Faustin">
        <h2>Executive Director</h2>
        <p>Mr. Ssejemba Kennedy Faustin</p>
    </div>
    <div>
        <img src="{% static 'images/bena.png' %}" alt="Director - Ms. Bena Ndibuza">
        <h2>Director</h2>
        <p>Ms. Bena Ndibuza</p>
    </div>
    <div>
        <img src="{% static 'images/mugisha.' %}png" alt="Director - Mr. Mugisha JM Vianney">
        <h2>Director</h2>
        <p>Mr. Mugisha JM Vianney</p>
    </div>
    <div>
        <img src="{% static 'images/ivan.png' %}" alt="Director - Ivan Ssekigudde">
        <h2>Director</h2>
        <p>Ivan Ssekigudde</p>
    </div>

    <h2>History</h2>

        <p class="div1">Knowing Uganda Tour and Travel was started in the year 2020 by<br> 
            Mr. Ssejemba Kennedy Faustin and Ms. Bena Ndibuza as Directors. <br>
            It was registered on the 10th of March 2020 under the laws of the Republic of Uganda. <br>
            It was later joined by two Directors, Mr. Mugisha JM Vianney and Ivan Ssekigudde.</p>


    <h3>About the Company</h3>
    <p class="div1">KNOWING UGANDA TOURS AND TRAVEL<br> 
        is a fully registered and privatized company that provides tours and travel services,<br>
         religious pilgrimages (in and outside of Uganda), vacations, <br>
         flights and hotel reservations throughout the Eastern and Southern African area,
         <br> and team capacity building services. Our success is built on our team's knowledge of 
         the places we sell, as well as their dependability and devotion. We also seek to collaborate with institutions, organizations (both governmental and non-governmental, schools, religious organizations, and family groups). Mr. Kennedy Ssejjemba, Ms. Bena Ndibuza, Mr. John Mugisha, and Ivan Ssekigudde lead the company,<br>
          with the indispensable assistance of a superb team of highly experienced and outdoor lovers. Our knowledge will also provide your institution a competitive advantage by providing your employees with a variety of tactics and approaches for dealing with developing team difficulties (team building).</p>
</body>
</html>
