{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Knowing Uganda</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/renz.png' %}" type="image/x-icon">
</head>
<body class="body1">
    <nav>
        <ul class="navbar">
            <li><a href="../travel">Welcome</a></li>
            <li><a href="../travel/places">Places</a></li>
            <li><a href="../travel/AboutUs">About Us</a></li>
        </ul>
    </nav>
    <h1>Contact Us</h1>

    <p class="address">Lukuli, Makindye Division Kampala</p>
    <p class="phone">+256759252617</p>
    <p class="phone">+256752706295</p>
    <p class="phone">+256774719779</p>
    <p class="email">Email: knowinguganda@gmail.com</p>
    <p class="div1">Website: <a href="http://www.knowinguganda.com">www.knowinguganda.com</a></p>

    <h2 class="div1">About Us</h2>

    <p class="div1">We are elated to have you served by our experienced team. We are glad and humbled that you have chosen us, and we want to show our appreciation by giving you a special service at all times. You can also join our community on our social media platforms!</p>

    <p class="div1">Thank you for considering Knowing Uganda. We look forward to hearing from you.</p>
</body>
</html>
